<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="run.cjs" verb="*" modules="iisnode" resourceType="File" />
          
        </handlers>

       <rewrite>
            <rules>
                <rule name="ReqToServerjs">
                    <match url=".*" />
                    <action type="Rewrite" url="run.cjs" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>
